<div class="loginWrapper">
  <div class="loginContainer">
    <div class="loginCard">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Login</button>
          <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Signup</button>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
          <div class="loginCard-content">
            <div class="loginCard-title">Welcome Back!</div>
            <form class="loginCard-form" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
              <div class="loginCard-input">
                <label for="emailId">Email Id:</label>
                <input type="text" name="emailId" id="emailId" placeholder="Enter your Email Id" ngModel>
              </div>
              <div class="loginCard-input">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Enter your Password" ngModel>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
          <div class="loginCard-content">
            <div class="loginCard-title">Create Your Account</div>
            <form class="loginCard-form" #signInForm="ngForm" (ngSubmit)="signUp(signInForm)">
              <div class="loginCard-input">
                <label for="emailId">Email Id:</label>
                <input type="text" name="emailId" id="emailId" placeholder="Enter your Email Id" ngModel>
              </div>
              <div class="loginCard-input">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Min 8 Characters" ngModel>
              </div>
              <button type="submit" class="btn btn-primary">Create Account</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>